
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
console.log(window.location)
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[#&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = value;
		});
		return vars;
	}
var data = {};
data.token = getUrlVars()["access_token"];

$.ajax({
	type: 'POST',
	data: JSON.stringify(data),
	contentType: 'application/json',
	url: '/token',						
		success: function(data) {
			console.log('success');
			console.log(JSON.stringify(data));
			window.location = "http://dbloader.local/"
		}
});


</script>
